@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center">Studentska Služba</h1>
<div style="height: 20em; overflow: hidden">
    <img src="https://www.tk.etf.unsa.ba/wp-content/uploads/2019/09/dotfeesa_small_-68.jpg" style="width: 100%">
</div>
<h3 style="margin-top: 3%">Aplikacija za registrovanje studenata i predmeta</h3>
<div style="margin-top: 5%; color: darkgray; font-size: 1.5em">
    <b>
    Ova web-aplikacija namijenjena je za rad sa studentima i predmetima fakulteta.
    <br>
    Sastoji se od korisničkih interfejsa koji omogućavaju vršenje operacija dodavanja, editovanja i brisanja.
    <br>
    Trenutno je izvršen razvoj samo za predmete, kojima je moguće pristupiti pomoću stavke menija na vrhu stranice.
    </b>
    <br>

    <div style="margin-top: 2%; margin-bottom: 2%">
        <div id="myMap" style="position:relative;width:1300px;height:400px;"></div>
    </div>


    Više informacija o ASP.NET možete naći na <a href="https://c2.etf.unsa.ba/course/view.php?id=111"> sljedećem linku.</a>
    <br>
    <br>
    <h5>Više informacija o našem fakultetu:</h5>
    <iframe style="width: 100%" height="400"
        src="https://www.youtube.com/embed/8VXW4Uq_PC0?autoplay=1&mute=1">
    </iframe>    
</div>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    
<script type='text/javascript'>
    function GetMap()
    {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AuUsqVpLHw7AixifRLyTzgcECS6DV0oonRx65hJH2PmoF3dCEOdZtq0nGYIUqhEa',
            center: new Microsoft.Maps.Location(43.8563, 18.4131),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 10
        });
        
        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false
        });

        infobox.setMap(map);

        var etf = new Microsoft.Maps.Location(43.8563, 18.3959);
        var pin = new Microsoft.Maps.Pushpin(etf);

        pin.metadata = {
            title: 'ETF',
            description: 'Elektrotehnički fakultet u Sarajevu'
        };

        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);

        map.entities.push(pin);
    }

    function pushpinClicked(e) {
        if (e.target.metadata) {
            infobox.setOptions({
                location: e.target.getLocation(),
                title: e.target.metadata.title,
                description: e.target.metadata.description,
                visible: true
            });
        }
    }   
</script>