<h1>Audio player</h1>
<hr />

<p>Elvis Presley - Just Pretend:</p>
<audio controls style="width: 100%">
    <source src="https://docs.google.com/uc?export=download&id=1A5Mt7Uv_y16nksx8gLorNdNtTd2XHgQa" />
</audio>
<br />
<br />

<p>Snimanje zvuka koristeći mikrofon:</p>
<input type=button id="record" class="btn btn-primary" value="Snimaj" onClick="record_audio()">
<input type=button id="stop" class="btn btn-primary" value="Završi" onClick="record_audio()">
<br />
<br />

<p>Reprodukcija snimljenog zvuka:</p>
<audio id="player" controls style="width: 100%"></audio>

<script>
  var audio = document.getElementById('player');
  var constraints = { audio: true };

  navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
    var mediaRecorder = new MediaRecorder(stream);
    var chunks = [];

    mediaRecorder.addEventListener('dataavailable', function (event) {
      chunks.push(event.data);
    });

    mediaRecorder.addEventListener('stop', function () {
      var blob = new Blob(chunks, { type: 'audio/ogg; codecs=opus' });
      var url = URL.createObjectURL(blob);
      audio.src = url;
      chunks = []; // reset
    });

    document.getElementById('record').addEventListener('click', function () {
      mediaRecorder.start();
    });

    document.getElementById('stop').addEventListener('click', function () {
      mediaRecorder.stop();
    });
  });
</script>