@model PrvaASPNETAplikacija.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vrsta" class="control-label"></label>
                <select asp-for="Vrsta" class="form-control" asp-items="Html.GetEnumSelectList<VrstaStudenta>()"></select>
                <span asp-validation-for="Vrsta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodinaStudija" class="control-label"></label>
                <input asp-for="GodinaStudija" class="form-control" />
                <span asp-validation-for="GodinaStudija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" class="form-control" style="visibility: hidden"/>
                <span asp-validation-for="Slika" class="text-danger"></span>

                <div style="padding: 1rem; display: grid; grid-template-columns: 50% 50%">
                    <div id="results">Slika će se prikazati ovdje...</div>

                    <div style="margin-left: 20rem">
                        <div id="my_camera"></div>

                        <script type="text/javascript" src="~/js/webcam.min.js"></script>

                        <script>
                            Webcam.set({
                                width: 320,
                                height: 240,
                                image_format: 'jpeg',
                                jpeg_quality: 90
                            });
                            Webcam.attach( '#my_camera' );
                        </script>

                        <script>
                            function take_snapshot() {
                                Webcam.snap(function(data_uri)
                                {
                                    document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
                                    document.getElementById('Slika').value = data_uri;
                                });
                            }
                        </script>

                        <input type=button id="takeshot" class="btn btn-primary" value="Uslikaj" onClick="take_snapshot()">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
